/* .container{

} */

body{
   overflow: hidden;
   height: calc(100% - 150px);
   width: 100%;
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   font-family: "Open Sans", sans-serif;
   background-image: url(./assets/images/landing.png);
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   font-size: 12px;
}

.navbar{
    color:  #ececec;
    background-color: rgba(45, 45, 45, 0.5);
    height: 5rem;
    padding-left: 2.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 8px;
    /* background-color: #2196F3; */
    padding: 10px;
    height: 32rem;
    margin-left: 10rem;
    margin-bottom: 5px;
    width: 80%;
    
  }
   
  .grid-container > div {
 
    /* text-align: center; */
    padding: 20px 8px;
    /* font-size: 30px; */
  }
   .text-center{
    text-align: center;
   }

  .item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    backdrop-filter: blur(2px);
    border-radius: 0.5rem;
    border: 3px solid #2f7b94;
    width: 19rem;
    height: 38rem;
    background-color: rgba(255, 255, 255, 0.8);
 
    }
    .item1 p{
      font-size: 12px;
    }
    .list{
        height: 26rem;
        list-style-type: none;
        /* margin: rem; */
        /* background-color: aqua; */
    }

    .listHeader{
        color: red;
        font-size: large;
    }

    .ourList{
        margin: 0.5rem;
        height: 16%; 
        font-size: small;
    }
    .in-circle{
      height: 35px;
      width: 35px;
      border-radius: 25px;
      background-color: red;
      color: white;
      text-align: center;
      font-size: 18px;
      line-height: 35px;
      position: absolute;
      left: -46px;
      top: 10px;

    }


    .bi-heart{
      height: 30px;
      width: 30px;
     color: red;
    }

    .likes{
      height: 20px;
      width: 20px;
      border-radius: 10px;
      font-size: 10px;
      background-color: lightblue;
      padding-top: 3px;
      padding-left: 1px;
      color: white;
      margin-top: -8px;
      position: absolute;
      margin-left: 11px;
    }

    .red{
      color:red;
      margin-top: -29px;
    }
.float-right{
  float: right;
}
.nomination{
  padding: 10px 25px 5px;
  margin-top:10px;
}
.nomination label{
font-size: 13px;
}
.nomination-border{
  border-bottom: solid 1px red;
}
    .item2, .item3{
      grid-column:span 1;
      background-color: rgba(255, 255, 255, 0.8);
    }
   
      .item4{
    grid-column: span 2;
    overflow-y: hidden;
    background-color: grey;
    border-radius: 0.5rem;
    grid-row-start: 2;
    grid-row-end: 2;
  
    } 

/* News tab or column styles */
.newsHeader{
  color: white;
}

.news-border{
  border-bottom: solid 1px white;
}

.news-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 10px;
}

.news-item{
  display: flex;
  align-items: center;
  /* width: 45%; */
  margin-bottom: 20px;
}

.news-img{
  width:150px;
  height: 110px;
  object-fit: cover;
  margin-right: 20px;
}

.news-content{
  flex: 1;
}

.news-title{
  font-size: 16px;
  margin-bottom: 5px;
}

.news-description{
  font-size: 14px;
  color: #666;
}

/* .date-overlay{
  position:absolute;
  bottom: 5px;
  right: 5px;
  background-color: red;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 12px;
} */

/* .news-wrapper{
  height: auto;
  overflow-x: scroll;
} */